*{
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}



.search-container {
  float: right;
}
input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #ccc;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }

  /* BURGERMENU */
  .burgercontainer {
    z-index: 1;
    width: 50px;
    height: 100vh;
  }

  burger-menu {
    margin-right: 10px;
  }

  /* HEADER */
  header {
    width: 100%;
    top: 0px;
    height: 200px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  header img{
    visibility: visible;
  }

  .logo {
    width: 30%;
    position: absolute;
    margin-top: -85px;
    margin-left: 10px;
  }

  #headericons {
    position: absolute;
    right: 90px;
  }

  #headericons img {
    width: auto;
    height: 100px;
  }

  /* BURGERMENU */
  .burgercontainer {
    z-index: 1;
    width: 50px;
    height: 100vh;
  }

  .navbar {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 200px;
    display: flex;
    right: -375px;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(0.5, 0, 0, 1);
  }

  .change {
    right: 0;
  }

  .burger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.8s;
  }

  .change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
  }

  .change .line-2 {
    opacity: 0;
  }

  .change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
  }

  .nav-list {
    list-style: none;
  }

  h4 {
    display: flex;
    text-align: center;
    background-color: #ECECEC;
    width: 375px;
    font: 19px;
    padding: 10px 0 10px 0;
    justify-content: center;
    font-family: century gothic;
  }

  .nav-container{
    height: 80vh;
    overflow-x: scroll;
    z-index: 1000 !important;
  }

  .nav-item {
    width: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px;
    border-color: #ffffff;
  }

  .nav-item img{
    width: 30%;
    visibility: visible;
  }

  .nyheder {
    width: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    border-color: #ffffff;
  }

  .nav-link {
    display: block;
    text-decoration: none;
    list-style: none;
    width: 375px;
    margin-left: 25px;
    font-size: 18px;
    font-family: century gothic;
    color: #000000;
    font-weight: 300;
    border-bottom: 1px solid gray
    border: 5px;
    border-color: #ffffff;
  }



  .cl-matas{
    text-decoration: none;
    list-style: none;
    width: 375px;
    margin-left: 25px;
    font-size: 18px;
    font-family: century gothic;
    color: #000000;
    font-weight: 300;
    border: 5px;
    border-color: #ffffff;
  }

  .nav-link img{
  margin-left: 10px;
  width: 3%;
  }

  .icons svg {
    margin: 10px 10px 7px 10px;
  }

  .icons {
    margin-left: 43px;
    margin-top: -30px;
  }

  .search-container {
    margin-top: 8px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 8px;
    top: 122px;
    position: absolute;
  }

  .search-container svg {
    position: absolute;
    left: 315px;
    top: 5px;
  }

  input[type=text], .search-container {
    float: none;
    display: block;
    text-align: left;
    width: 94%;
    margin: 0;
    left: 15px;
    right: 10px;
    padding: ;
  }

  input[type=text] {
    border: 1px solid #ccc;
  }

  .top-banner {
    position: absolute;
    font-size: 12px;
    top: 170px;
    font-family: century Gothic;
    background-color: #00244f;
    height: 30px;
    width: 100%;
    padding: 0;
  }

  .top-banner-text {
    color: #ffffff;
    text-align: center;
    margin-top: 7.5px;
  }
}
/**************************     header      ****************************/

.top {
  padding-bottom: 25px;
}

.top a {
  display: block;
  position: absolute;
  height: 40px;
  width: 40px;
  margin: 20px 0 20px 20px;
}

.top  svg {
  margin-top: 5px;
  padding-left: 5px;
  display: block;
  text-decoration: none;
  color: black;
  position: relative;
}

.overskrift {
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 20px;
  font-family: 'Century Gothic';
}

.overskrift h2 {
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 5px;
}

.overskrift h3 {
  font-size: 13px;
  font-weight: 200;
}


/*************************** Knapper **********************************/

/**********/

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.accordion{
    width: 335px;
    height: 60px;
    background: #f6f6f6;
    padding-top: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.accordion-tab {
  width: 160px;
  height: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.accordion-tab > .accordion-toggle{
    position: absolute;
    display: none;
}

label {
  padding-left: 5px;
  text-align: center;
}

.accordion-tab > label{
    font-family: 'Century Gothic';
    color: #000000;
    background: #ffffff;
    border: 0.5px solid #000000;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
    display: block;
    height: 40px;
    cursor: pointer;
}

.accordion-tab > .accordion-content{
    max-height: 0;
    transition: 350ms;
    overflow: hidden;
}

.accordion-tab > label:after {
    content: '\f054';
    position: absolute;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(90deg);
    transition:transform .30s ;
}

.accordion-tab > .accordion-toggle:checked ~ label:after{
    transform: rotate(270deg);
}

.accordion-tab > .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
    overflow: auto;
}

.accordion-tab > .accordion-content p {
    padding: 30px 20px;
    font-family: 'Century Gothic';
    border: 0.5px solid #000000;
    font-size: 16px;
    line-height: 1.5;
}

.toggle4 label {
    background: red;
    font-family: 'Century Gothic';
    color: blue;
}

/*****************************/

.accordion-tab1 {
  height: 40px;
  width: 160px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.accordion-tab1 > .accordion-toggle{
    position: absolute;
    display: none;
}

.accordion-tab1 > label{
    font-family: 'Century Gothic';
    color: #ffffff;
    background: #002643;
    border: 0.5px solid #002643;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
    display: block;
    height: 40px;
    cursor: pointer;
}

.accordion-tab1 > .accordion-content{
    max-height: 0;
    transition: 350ms;
    overflow: hidden;
}

.accordion-tab1 > label:after {
    content: '\f054';
    position: absolute;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(90deg);
    transition:transform .30s ;
}

.accordion-tab1 > .accordion-toggle:checked ~ label:after{
    transform: rotate(270deg);
}

.accordion-tab1 > .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
    overflow: auto;
}

.accordion-content {
  margin-left: -20px;
  width: 276px;
  padding-top: 10px;
  background-color: #f6f6f6;
}

.flex-container-andet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    list-style: none;
}

.indhold {
  width: 276px;
  height: 250px;
  align-items: center;
}

.indhold ul {
  padding-bottom: 20px;
}

.dinepræferencer {
    margin: 0 auto;
    background: #E85A61;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-family: 'Century Gothic';
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}


/************************/





/*************************************************/
.line-filter {
  margin-top: 10px;
  width: 100%;
  display: flex;
  height: 1px;
  background-color: black;
}

.line-filter2 {
  width: 100%;
  display: flex;
  height: 1px;
  background-color: black;
}

/*********************************************/


.accordion-tab2 {
  width: 251px;
  height: 40px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.accordion-tab2 > .accordion-toggle{
    position: absolute;
    display: none;
}

label {
  padding-left: 5px;
  text-align: center;
}

.accordion-tab2 > label{
    font-family: 'Century Gothic';
    color: #000000;
    background: #f6f6f6;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
    display: block;
    height: 40px;
    cursor: pointer;
}

.accordion-content2 {
  border: 0;
}

.accordion-tab2 > .accordion-content2{
    max-height: 0;
    transition: 350ms;
    overflow: hidden;
}

.accordion-tab2 > label:after {
    content: '\f054';
    position: absolute;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(90deg);
    transition:transform .30s ;
}

.accordion-tab2 > .accordion-toggle:checked ~ label:after{
    transform: rotate(270deg);
}

.accordion-tab2 > .accordion-toggle:checked ~ .accordion-content2{
    max-height: 100vh;
    overflow: auto;
}

.accordion-tab2 > .accordion-content2 p {
    padding: 10px 10px;
    font-family: 'Century Gothic';
    font-size: 16px;
    line-height: 1.5;
    float: left;
}

.toggle4 label {
    background: red;
    font-family: 'Century Gothic';
    color: blue;
}


/* The container */
.container {
  font-family: 'Century Gothic';
  font-weight: 600;
  display: block;
  width: 231px;
  height: 26px;
  background-color: #fff;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.5px solid #000000;
  text-align: left;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: 223px;
  height: 26px;
  width: 26px;
  background-color: #ffffff;
  border: 0.5px solid #000000;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #002643;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*****************************/

.line-filter3 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  height: 1px;
  background-color: black;
}

/*********************************************/

.accordion-tab3 {
  width: 251px;
  height: 40px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.accordion-tab3 > .accordion-toggle{
    position: absolute;
    display: none;
}

label {
  padding-left: 5px;
  text-align: center;
}

.accordion-tab3 > label{
    font-family: 'Century Gothic';
    color: #000000;
    background: #f6f6f6;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
    display: block;
    height: 40px;
    cursor: pointer;
}

.accordion-content3 {
  border: 0;
}

.accordion-tab3 > .accordion-content3{
    max-height: 0;
    transition: 350ms;
    overflow: hidden;
}

.accordion-tab3 > label:after {
    content: '\f054';
    position: absolute;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(90deg);
    transition:transform .30s ;
}

.accordion-tab3 > .accordion-toggle:checked ~ label:after{
    transform: rotate(270deg);
}

.accordion-tab3 > .accordion-toggle:checked ~ .accordion-content3{
    max-height: 100vh;
    overflow: auto;
}

.accordion-tab3 > .accordion-content3 p {
    padding: 10px 10px;
    font-family: 'Century Gothic';
    font-size: 16px;
    line-height: 1.5;
    float: left;
}

.toggle5 label {
    background: red;
    font-family: 'Century Gothic';
    color: blue;
}


/* The container */
.container {
  font-family: 'Century Gothic';
  font-weight: 600;
  display: block;
  width: 231px;
  height: 26px;
  background-color: #fff;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.5px solid #000000;
  text-align: left;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: 223px;
  height: 26px;
  width: 26px;
  background-color: #ffffff;
  border: 0.5px solid #000000;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #002643;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/****************************** produkter *********************************/
.produkt-flex{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-around;
}

.produkt-flex a {
  display: block;
  margin-top: 5px;
  margin-left: 2px;
}

.clinique {
  margin-top: 5px;
}

.clarins {
  margin-left: 2px;
  margin-top: 5px;
}

.maybelline {
  margin-top: 5px;
}


.sideskift {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.anbefaledeprodukter {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

/****************************** FOOTER **************************************/

.line2 {
  width: 100%;
  display: flex;
  height: 0.5px;
  background-color: black;
}

footer {
  height: 215px;
  background-color: #F6F6F5;
}

.info-footer {
  font-family: 'Century Gothic';
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 60px;
  margin-top: 20px;
  height: 50%;
  justify-content: space-between;
}

.info-footer a {
  text-decoration: none;
  text-align: left;
  list-style: none;
  color: #000000;
}

.some-footer {
  position: relative;
  height: 75px;
  background-color: #000000;
  bottom: -12px;
  color: #FFFFFF;
  font-family: 'Century Gothic';
  text-align: center;
}

.some-footer h5 {
  font-size: 14px;
}

.some-footer svg {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
