* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body{
  font-family: century Gothic;
}

header{
  width: 100%;
}

main{
  width: 100%;
  height: 100%;
}

.nav-item img{
  visibility: hidden;
  width: 0%;
}

.logo{
  margin-top: 10px;
  width: 7%;
  margin-left: 47%;
}

nav{
  width: 100%;
}



ul{

}

ul li{
list-style: none;
display: inline-block;
}

ul li a{
text-decoration: none;
color: #000000;
}

.icons {
  margin-left: 1670px;
  margin-top: -40px;
}



.top-banner {
  font-size: 14px;
  top: 170px;
  font-family: century Gothic;
  background-color: #00244f;
  height: 30px;
  width: 100%;
  padding: 2px 0 4px;
}

.top-banner-text {
  color: #ffffff;
  text-align: center;
  margin-top: 7.5px;
}


.search-container {
  float: left;
  border: 3px;
  border-color: black;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.inspiration{
  display: none;
}

/* Hide the images by default */
.mySlides{
  margin-top: 10px;
  display: none;
  width: 75%;
  margin-left: 13%;
  height: 500px;
}

.prev {
  cursor: pointer;
  position: absolute;
  margin-top: -16%;
  margin-left: 12%;
  opacity: 0.5;
  width: auto;
  padding: 16px;
  color:#132841;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

  /* Next & previous buttons */
.next {
  cursor: pointer;
  position: absolute;
  margin-left: 86.2%;
  margin-top: -16%;
  opacity: 0.5;
  width: auto;
  padding: 16px;
  color: #132841;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  float: right;
}

.prev:hover, .next:hover{
opacity: 1;
}

.prikker {
position: absolute;
margin-left: 50%;
margin-top: -1.5%;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
background-color: #8198b4;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #132841;
}

.small-kampagne{
  margin-left: 33.5%;
  padding: 10px;
}

.bred{
  visibility: hidden;
  width: 0%;
}

.line1 {
  width: 595px;
  display: flex;
  height: 0.5px;
  background-color: black;
}

.anbefal-line1 {
  top: 9px;
  position: relative;
  left: 14%;
}

.anbefal-line2 {
  top: 7px;
  position: relative;
  left: 58%;
}

.anbefalinger h3 {
  text-align: center;
  font-size: 14px;
  position: absolute;
  left: 48%;
  font-family: century Gothic;
}

.tilbud {
  margin-top: 15px;
  margin-left: 43%;;
  margin-right: 10px;
}

.tilbud button {
  height: 40px;
  border: 0px;
  margin-left: 30px;
  width: 128px;
  color: #ffffff;
  background-color: #000000;
  font-family: century Gothic;
}

.vejledning {
  width: 75%;
  margin-left: 15%;
  margin-bottom: 10px;
  text-align: center;
  font-family: century Gothic;
  margin-top: 10px;
  height: 305px;
  background-color: #F5F1EE;
}

.vejledning img {
  left: 15%;
  width: 75%;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.gode-r-v {
  top: 15px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  position: relative;
}

.vej-grid {
  position: relative;
  top: 30px;
  display: grid;
  text-align: center;
  grid-gap: 10px;
  grid-template-areas:
    'top-left top-left top-right top-right'
    'bottom-left bottom-left bottom-right bottom-right';
  padding: 10px;
}

.grid-item1 {
  grid-area: top-left;
}

.grid-item2 {
  grid-area: top-right;
}

.grid-item3 {
  grid-area: bottom-left;
}

.grid-item4 {
  grid-area: bottom-right;
}

.vej-grid>div {
  background-color: #ffffff;
  padding: 35px 5px 35px 5px;
}

.line2 {
  width: 100%;
  display: flex;
  height: 0.5px;
  background-color: black;
}

footer {
  height: 215px;
  background-color: #F6F6F5;
}

.info-footer {
  font-family: century Gothic;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 60px;
  margin-top: 20px;
  height: 50%;
  justify-content: space-between;
}

.info-footer a {
  text-decoration: none;
  text-align: center;
  list-style: none;
  color: #000000;
}

.some-footer {
  position: relative;
  height: 75px;
  background-color: #000000;
  bottom: -33px;
  color: #FFFFFF;
  font-family: century Gothic;
  text-align: center;
}

.some-footer h5 {
  font-size: 14px;
}

.some-footer svg {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }

  /* BURGERMENU */
  .burgercontainer {
    z-index: 1;
    width: 50px;
    height: 100vh;
  }

  burger-menu {
    margin-right: 10px;
  }

  /* HEADER */
  header {
    width: 100%;
    top: 0px;
    height: 200px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  header img{
    visibility: visible;
  }

  .logo {
    width: 30%;
    position: absolute;
    margin-top: -85px;
    margin-left: 10px;
  }

  #headericons {
    position: absolute;
    right: 90px;
  }

  #headericons img {
    width: auto;
    height: 100px;
  }

  /* BURGERMENU */
  .burgercontainer {
    z-index: 1;
    width: 50px;
    height: 100vh;
  }

  .navbar {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 200px;
    display: flex;
    right: -375px;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(0.5, 0, 0, 1);
  }

  .change {
    right: 0;
  }

  .burger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.8s;
  }

  .change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
  }

  .change .line-2 {
    opacity: 0;
  }

  .change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
  }

  .nav-list {
    list-style: none;
  }

  h4 {
    display: flex;
    text-align: center;
    background-color: #ECECEC;
    width: 375px;
    font: 19px;
    padding: 10px 0 10px 0;
    justify-content: center;
    font-family: century gothic;
  }

  .nav-container{
    height: 80vh;
    overflow-x: scroll;
    z-index: 1000 !important;
  }

  .nav-item {
    width: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px;
    border-color: #ffffff;
  }

  .nav-item img{
    width: 30%;
    visibility: visible;
  }

  .nyheder {
    width: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    border-color: #ffffff;
  }

  .nav-link {
    display: block;
    text-decoration: none;
    list-style: none;
    width: 375px;
    margin-left: 25px;
    font-size: 18px;
    font-family: century gothic;
    color: #000000;
    font-weight: 300;
    border-bottom: 1px solid gray
    border: 5px;
    border-color: #ffffff;
  }



  .cl-matas{
    text-decoration: none;
    list-style: none;
    width: 375px;
    margin-left: 25px;
    font-size: 18px;
    font-family: century gothic;
    color: #000000;
    font-weight: 300;
    border: 5px;
    border-color: #ffffff;
  }

  .nav-link img{
  margin-left: 10px;
  width: 3%;
  }

  .icons svg {
    margin: 10px 10px 7px 10px;
  }

  .icons {
    margin-left: 43px;
    margin-top: -30px;
  }

  .search-container {
    margin-top: 8px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 8px;
    top: 122px;
    position: absolute;
  }

  .search-container svg {
    position: absolute;
    left: 315px;
    top: 5px;
  }

  input[type=text], .search-container {
    float: none;
    display: block;
    text-align: left;
    width: 94%;
    margin: 0;
    left: 15px;
    right: 10px;
    padding: ;
  }

  input[type=text] {
    border: 1px solid #ccc;
  }

  .top-banner {
    position: absolute;
    font-size: 12px;
    top: 170px;
    font-family: century Gothic;
    background-color: #00244f;
    height: 30px;
    width: 100%;
    padding: 0;
  }

  .top-banner-text {
    color: #ffffff;
    text-align: center;
    margin-top: 7.5px;
  }



  .inspiration {
    height: 89px;
    background-color: #ECECEC;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  .mySlides{
    margin-top: 10px;
    display: none;
    width: 92.5%;
    margin-left: 14px;
    height: 348px;
  }

  .next {
    margin-left: 87%;
    margin-top: -65%;
    opacity: 0.5;
  }

  .prev {
    margin-top: -65%;
    opacity: 0.5;
    margin-left: -1%;
  }

.prev:hover, .next:hover{
  opacity: 1;
}

.prikker {
  position: absolute;
  margin-left: 43%;
  margin-top: -10%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #8198b4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #132841;
}

.small-kampagne {
  margin-left: 14px;
  margin-top: 10px;
}

.small-kampagne img {
  margin-right: 1px;
  margin-bottom: 10px;
}

.line1 {
  width: 95px;
  display: flex;
  height: 1px;
  background-color: black;
}

.anbefal-line1 {
  top: 9px;
  position: relative;
  left: 14px;
}

.anbefal-line2 {
  top: 7px;
  position: relative;
  left: 265px;
}

.anbefalinger h3 {
  text-align: center;
  font-size: 14px;
  position: absolute;
  left: 33%;
  font-family: century Gothic;
}

.tilbud {
  margin-top: 15px;
  margin-left: 14px;
  margin-right: 10px;
}

.tilbud button {
  height: 40px;
  border: 0px;
  margin-left: 0px;
  width: 128px;
  color: #ffffff;
  background-color: #000000;
  font-family: century Gothic;
}

.forside-kurv-knap {
  display: flex;
  justify-content: space-around;
}

.vejledning {
  width: 100%;
  text-align: center;
  font-family: century Gothic;
  margin-top: 10px;
  margin-left: 0;
  height: 305px;
  background-color: #F5F1EE;
}

.vejledning img {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 12.5%;
}

.gode-r-v {
  top: 15px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  position: relative;
}

.vej-grid {
  position: relative;
  top: 30px;
  display: grid;
  text-align: center;
  grid-gap: 10px;
  grid-template-areas:
    'top-left top-left top-right top-right'
    'bottom-left bottom-left bottom-right bottom-right';
  padding: 10px;
}

.grid-item1 {
  grid-area: top-left;
}

.grid-item2 {
  grid-area: top-right;
}

.grid-item3 {
  grid-area: bottom-left;
}

.grid-item4 {
  grid-area: bottom-right;
}

.vej-grid>div {
  background-color: #ffffff;
  padding: 35px 5px 35px 5px;
}

.line2 {
  width: 100%;
  display: flex;
  height: 1px;
  background-color: black;
}

footer {
  height: 215px;
  background-color: #F6F6F5;
}

.info-footer {
  font-family: century Gothic;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 60px;
  margin-top: 20px;
  height: 50%;
  justify-content: space-between;
}

.info-footer a {
  text-decoration: none;
  text-align: left;
  list-style: none;
  color: #000000;
}

.some-footer {
  position: relative;
  height: 75px;
  background-color: #000000;
  bottom: -12px;
  color: #FFFFFF;
  font-family: century Gothic;
  text-align: center;
}

.some-footer h5 {
  font-size: 14px;
}

.some-footer svg {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
}
